* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-image: url(./assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 271px;
    display: block;
}

div {
    width: 620px;
    display: block;
    margin-left: 50px;
    margin-top: 30px;
}

h1 {
    margin-bottom: 30px;
    color: white;
    font-size: 43px;
}

p{
    font-size: 15px;
    background-color: rgb(255,255,240, 0.6);
    padding: 23px 20px 19px 20px;
    border-radius: 29px;
}

section img {
    opacity: 0;
    width: 210px;
    position: absolute;
    right: 181px;
    top: 15px;
}

section img.personagens {
    opacity: 1;
}

#gohan, #piccolo {
    width: 300px;
}

#freeza {
    width: 350px;
}

#goku {
    width: 250px;
}