* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-image: url(./assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 271px;
    display: block;
}

div {
    width: 620px;
    display: block;
    margin-left: 50px;
    margin-top: 30px;
}

h1 {
    margin-bottom: 30px;
    color: white;
    font-size: 43px;
}

p{
    font-size: 15px;
    background-color: rgb(255,255,240, 0.6);
    padding: 23px 20px 19px 20px;
    border-radius: 29px;
}

section img {
    opacity: 0;
    width: 210px;
    position: absolute;
    right: 181px;
    top: 15px;
    transition: opacity 2000ms;
}

section img.personagens {
    opacity: 1;
}

#gohan, #piccolo {
    width: 300px;
}

#freeza {
    width: 350px;
}

#goku {
    width: 250px;
}

@media screen and (min-width: 0px) and (max-width: 441px) {

body {
    background-image: url(./assets/fundo-responsivo.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

main {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    width: 385px;
    margin-left: 10px;
}


#logo {

    width: 200px;
}

section img{
    display: block;
    width: 150px;
    top: auto;
    right: 100px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 23px;
}

p {
    text-align: center;
    font-size: 11px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#gohan, #piccolo {
    width: 180px;
}

#freeza {
    width: 250px;
}

#goku {
    width: 150px;
}

#boo {
    width: 130px;
}
}